/* 

Do note this was stylized on a 2560 x 1600 px, so sorry if elements are disorganized

*/

html, body {
  margin: 0;
  padding: 0;
}

/* Sets up top of the page */
main {
  margin: auto;
  margin-bottom: 3em;
}

main > h1 {
  text-align: center;
  margin-bottom: 1em;
}

/* Sets up the canvas and places it in the middle */
canvas {
  display: block;
  margin: auto;
}

/* Organizes the top part of the page */
#showcase {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border: 0.25em double black;
  row-gap: 0.5em;

  width: 95%;
  margin: auto;
  padding: 1em;
}

#showcase > div {
  width: 49.75%;
  margin: auto;
}

#showcase > div > h3 {
  text-align: center;
  font-size: x-large;
}

#showcase > div > p {
  text-indent: 1em;
  padding-top : 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.25;
  width: 90%;
  margin: auto;
}

/* Sets up the bottom of the page */
footer{ 
  padding: 3em;
  margin-bottom: 30em;
  
}